include ../button-link/button-link.pug

mixin dropdown({arrDefaultNumbers = "", type = "", arrTitles = [], } = {}) 
  -
    if(!arrDefaultNumbers) {
      arrDefaultNumbers = [0, 0, 0];
    }
  

  if type
    div(class="js-dropdown dropdown dropdown_with-buttons js-dropdown_with-buttons")
      .iqdropdown
        p.iqdropdown-selection.iqdropdown-selection_opacity_m
        .iqdropdown-menu
          each val, i in arrTitles
            div(class="iqdropdown-menu-option" data-id=`item${i + 1}` data-defaultcount=arrDefaultNumbers[i]  data-maxcount="10")
              div
                p(class="iqdropdown-item")=val
      div(class="js-dropdown__buttons dropdown__buttons")
        div(class="js-dropdown__clear-button dropdown__clear-button dropdown__clear-button_hide_clean")
          +button-link({text: "Очистить", color: "grey"})
        div(class="js-dropdown__apply-button dropdown__apply-button")
          +button-link({text: "Применить"})
  else 
    div(class="js-dropdown dropdown")
      .iqdropdown
        p.iqdropdown-selection
        .iqdropdown-menu
          each val, i in arrTitles
            div(class="iqdropdown-menu-option" data-id=`item${i + 1}` data-defaultcount=arrDefaultNumbers[i]  data-maxcount="10")
              div
                p(class="iqdropdown-item")=val
        