extends ../../components/block-head/block-head.pug
block title
  title Colors & Types
block body
  
  .colors-and-type
    .colors-and-type__main-wrapper
      .color-and-type__wrapper-left
        -
          let colors = [
            ['', 'Dark Shade 100%', '#1F2041'],
            [' colors-and-type__colors-square_opacity_75', 'Dark Shade 75%', '#1F2041'],
            [' colors-and-type__colors-square_opacity_50', 'Dark Shade 50%', '#1F2041'],
            [' colors-and-type__colors-square_opacity_25', 'Dark Shade 25%', '#1F2041'],
            [' colors-and-type__colors-square_opacity_5', 'Dark Shade 5%', '#1F2041'],
            [' colors-and-type__colors-square_color_purple', 'Purple', '#BC9CFF'],
            [' colors-and-type__colors-square_color_green', 'Green', '#6FCF97']
          ]
        each val in colors
          .colors-and-type__colors
            div(class=`colors-and-type__colors-square${val[0]}`)
            .colors-and-type__colors-title
              h2(class='colors-and-type__colors-name')= val[1]
              p(class='colors-and-type__colors-color')= val[2]
      .color-and-type__wrapper-right
        -
          let types = [
            [' colors-and-type__types_type_widjet-title', '', 'H1', 'This one is the sub-section or widget title'],
            [' colors-and-type__types_type_item-title', '',  'H2', 'Next one is the item title inside widgets'],
            [' colors-and-type__types_type_label-text', '', 'H3', 'This is a label or CTA text'],
            [' colors-and-type__types_type_text', ' colors-and-type__types-text_width_301', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.']
          ]
        each val in types
          p(class=`colors-and-type__types${val[0]}`)
            span(class='colors-and-type__types-tag')= val[2]
            span(class=`colors-and-type__types-text${val[1]}`)=val[3]