extends ../../components/block-head/block-head.pug
block title
  title Colors & Types
block body
  
  .colors-and-type
    .color-and-type__wrapper-1
      -
        let colors = [
          ['', 'Dark Shade 100%', '#1F2041'],
          [' colors__square_opacity_75', 'Dark Shade 75%', '#1F2041'],
          [' colors__square_opacity_50', 'Dark Shade 50%', '#1F2041'],
          [' colors__square_opacity_25', 'Dark Shade 25%', '#1F2041'],
          [' colors__square_opacity_5', 'Dark Shade 5%', '#1F2041'],
          [' colors__square_color_purple', 'Purple', '#BC9CFF'],
          [' colors__square_color_green', 'Green', '#6FCF97']
        ]
      each val in colors
        .colors
          div(class=`colors__square${val[0]}`)
          .colors__title
            h2(class='colors__name item-title')= val[1]
            p(class='colors__color text')= val[2]
    .color-and-type__wrapper-2
      -
        let types = [
          [' widjet-title', '', 'H1', 'This one is the sub-section or widget title'],
          [' item-title', '',  'H2', 'Next one is the item title inside widgets'],
          [' label-text', '', 'H3', 'This is a label or CTA text'],
          [' text', ' types__text_width_301', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.']
        ]
      each val in types
        p(class=`types${val[0]}`)
          span(class='types__tag')= val[2]
          span(class=`types__text${val[1]}`)=val[3]