include ../field-button/field-button.pug

mixin footer-copyright({text = "", lists = [], subscribe = [], copyright = "" } = {}) 
  footer.footer-copyright
    .footer-copyright__top-wrapper
      .footer-copyright__footer
        .footer-copyright__description
          img.footer-copyright__logo(src="../../images/logo.png" alt="logo")
          p.footer-copyright__text= text
        .footer-copyright__lists
          - 
            let titleList = ["navigation", "about", "support"];
          each value, index in lists
            ul.footer-copyright__list(class=`footer-copyright__list_type_${titleList[index]}`)
              each val, i in value
                if i === 0
                  li
                    h3.footer-copyright__list-title= val
                else
                  li.footer-copyright__list-item
                    a.footer-copyright__list-link(href="/mock-address/change-me")= val
        .footer-copyright__subscribe
          h3.footer-copyright__subscribe-title= subscribe[0]
          p.footer-copyright__subscribe-text= subscribe[1]
          form.footer-copyright__subscribe-input
            +field-button({text: subscribe[2], theme: "gradient", focus: true})
    .footer-copyright__bottom-wrapper
      .footer-copyright__copyright
        p.footer-copyright__text= copyright
        .footer-copyright__icons
          -
            let network = [
              {
                way: "https://twitter.com/",
                logo: "twitter",
              },
              {
                way: "https://www.facebook.com/",
                logo: "facebook-square",
              },
              {
                way: "https://www.instagram.com/",
                logo: "instagram",
              },
            ];
          each val in network
            a(href=val.way target="_blank" rel="noopener noreferrer")
              i.footer-copyright__icon.fab(class=`fa-${val.logo}`)