include ../calendar/calendar.pug
include ../dropdown/dropdown.pug
include ../button/button.pug 

mixin room-booking
  form(class="room-booking")
    .room-booking__wrapper
      .room-booking__number-and-cost
        p(class="room-booking__number")
          = '№ '
          |
          span(class="room-booking__numbers")=888
          |  
          span(class="room-booking__luxe")= ' люкс'
        p(class="room-booking__cost")
          span(class="room-booking__cost-price")='9 900'
          span(class="room-booking__cost-sign") c
          span(class="room-booking__cost-text")= ' в сутки'
      .room-booking__arrival-departure 
        h3(class="room-booking__titles") прибытие выезд
        +calendar({dates: ['2019-08-19','2019-08-23'], type: 'dropdown'})
      .room-booking__company
        h3(class="room-booking__title") гости
        +dropdown({type: 'withButtons', arrTitles: ['взрослые', 'дети', 'младенцы'], arrDefaultNumbers: [2, 1, 0]})
      .room-booking__calculation
        - 
          let arrCalculated = [
            ['9 990\u20bd x 4 суток', '39 960\u20bd'],
            ['Сбор за услуги: скидка 2 179\u20bd', '0\u20bd'],
            ['Сбор за дополнительные услуги', '300\u20bd']
          ];
          let checkNeedIcon = function(i) {
            return i === 1 || i === 2;
          }
        each val, i in arrCalculated
          if checkNeedIcon(i)
            p(class="room-booking__name-price")
              span(class="room-booking__name room-booking__name_warning")=val[0]
              span(class="room-booking_price")=val[1]
          else
            p(class="room-booking__name-price")
              span(class="room-booking__name")=val[0]
              span(class="room-booking_price")=val[1]
      div(class="room-booking__total")
        p(class="room-booking__total-name") Итого
        P(class="room-booking__total-price")
          span(class="room-booking__total-numbers")='38 081'
          span(class="room-booking__total-rouble") p
      .room-booking__button
        +button({size: 'big', type: 'submit', text: 'забронировать'})
