include ../rate-button/rate-button.pug

mixin room({classRoom = "", type = "", stars = 4, number = 100, cost = "5 555", comments = "100", image = "room-img-1.jpg", slideCount = 4} = {})
  .room 
    div.room__slide-image
      img(class="room__image" src=`../../components/room/images/${image}` alt="room")
      if type
        .room__slide-left-button
          i.material-icons.room__left-arrow expand_more
        .room__slide-right-button
          i.material-icons.room__right-arrow expand_more
      ul.room__slide
        - let i = 0
        while i < slideCount
          if i === 0
            li.room__dot.room__dot_selected
          else
            li.room__dot
          - i += 1
    div.room__description
      div.room__number-and-cost
        if classRoom
          p.room__number
            = "№ "
            |
            span.room__numbers= number
            |
            span.room__luxe= " люкс"
        else
          p.room__number
            = "№ "
            | 
            span.room__numbers= number
        p.room__cost
          span.room__cost-price= cost
          span.room__cost-sign c
          span.room__cost-text= " в сутки"
      div.room__line
      div.room__stars-and-comments
        div.room__stars
          +rate-button(stars)
        p.room__comments
          span.room__comments-count= comments
          span.room__comments-text= " Отзывов"       