include ../rate-button/rate-button.pug

mixin room({classRoom = '', type = '', stars = 4, number = 100, cost = '5 555', comments = '100', image = 'room-img-1.jpg'} = {})
  .room 
    div(class='room__slide-image')
      img( class='room__image' src=`../../components/room/${image}` alt='room')
      if type
        .room__slide-first-button
          i(class='material-icons room__first-arrow') expand_more
        .room__slide-second-button
          i(class='material-icons room__second-arrow') expand_more
      ul(class='room__slide')
        - let i = 0
        while i < 3
          if i === 0
            li(class='room__dot room__dot_selected')
          li(class='room__dot')
          - i++
    div(class='room__description')
      div(class='room__number-and-cost')
        if classRoom
          p(class='room__number item-title')
            = '№ '
            |
            span(class='room__numbers item-title')= number
            |
            span(class='room__luxe label-text')= ' люкс'
        else
          p(class='room__number item-title')
            = '№ '
            | 
            span(class='room__numbers item-title')= number
        p(class='room__cost')
          span(class='room__cost-price label-text')= cost
          span(class='room__cost-sign') c
          span(class='room__cost-text text')= ' в сутки'
      div(class='room__line')
      div(class='room__stars-and-comments')
        div(class='room__stars')
          +rate-button(stars)
        p(class='room__comments text')
          span(class='room__comments-count')= comments
          span(class='room__comments-text')= ' Отзывов'
        